.page-header
  %h1 Apply to Teach

.hero-unit
  %p
    We're always looking for great students to teach great ExCos!  If you're
    interested, the checklists outline what you need to turn in.
    
  %p
    The deadline to turn in applications for the 2015 Spring semester is October 31st.
    There will be a potential instructors meeting on Sunday, October 5th, at 5:30 pm.

  %p
    Please drop your application in hard-copy at our office.  Student instructors need to submit one general 
    recommendation and one faculty recommendation with their application. For non-students, 
    the faculty recommendation is replaced by a second general recommendation.
    We are more than happy to answer questions through email at
    #{link_to 'oberlinexco.org', "mailto:oberlinexco.org" }.
  
  %p
    If you have not taught before, are teaching a class you haven't taught before,
    or have not taught in the past four years, you will have to complete a fifteen
    minute interview. Interviews will be conducted starting November 3rd, and must 
    be completed by November 21st. Acceptance emails will be sent out around the week
    of December 7th.
    

.row
  .span6
    %h3 New course
    %dl
      %dt New instructor
      %dd
        %ul
          %li Course Syllabus
          %li
            How to Write a Syllabus
            = link_to ".dox", 'howto_syllabus.docx'
          %li
            Course Guidelines
            = link_to ".pdf", 'course_guidelines.pdf'
            = link_to ".docx", 'course_guidelines.docx'
          %li
            New Course Application
            = link_to ".pdf", 'new_course.pdf'
            = link_to ".docx", 'new_course.docx'
          %li
            Instructor Application
            = link_to ".pdf", 'instructor_app.pdf'
            = link_to ".docx", 'instructor_app.docx'
          %li
            Faculty Recommendation
            = link_to ".pdf", 'faculty_rec.pdf'
          %li
            General Recommendation
            = link_to ".pdf", 'general_rec.pdf'
          %li
            Budget Request
            = link_to ".pdf", 'budget.pdf'
            = link_to ".docx", 'budget.docx'
            (if applicable)
          %li
            Budget Information
            = link_to ".pdf", 'budget_info.pdf'
            = link_to ".docx", 'budget_info.docx'

      %dt Old instructor
      %dd
        %ul
          %li Course Syllabus
          %li
            Course Guidelines
            = link_to ".pdf", 'course_guidelines.pdf'
            = link_to ".docx", 'course_guidelines.docx'
          %li
            New Course Application
            = link_to ".pdf", 'new_course.pdf'
            = link_to ".docx", 'new_course.docx'
          %li
            Instructor Application
            = link_to ".pdf", 'instructor_app.pdf'
            = link_to ".docx", 'instructor_app.docx'
          %li
            Budget Request
            = link_to ".pdf", 'budget.pdf'
            = link_to ".docx", 'budget.docx'
            (if applicable)
          %li
            Budget Information
            = link_to ".pdf", 'budget_info.pdf'
            = link_to ".docx", 'budget_info.docx'

  .span6
    %h3 Old course
    %dl
      %dt New instructor (never taught before)
      %dd
        %ul
          %li Course Syllabus
          %li
            Course Guidelines
            = link_to ".pdf", 'course_guidelines.pdf'
            = link_to ".docx", 'course_guidelines.docx'
          %li
            Course Renewal Application
            = link_to ".pdf", 'renewal.pdf'
            = link_to ".docx", 'renewal.docx'
          %li
            Instructor Application
            = link_to ".pdf", 'instructor_app.pdf'
            = link_to ".docx", 'instructor_app.docx'
          %li
            Faculty Recommendation
            = link_to ".pdf", 'faculty_rec.pdf'
          %li
            General Recommendation
            = link_to ".pdf", 'general_rec.pdf'
          %li
            Budget Request
            = link_to ".pdf", 'budget.pdf'
            = link_to ".docx", 'budget.docx'
            (if applicable)
          %li
            Budget Information
            = link_to ".pdf", 'budget_info.pdf'
            = link_to ".docx", 'budget_info.docx'

      %dt
        New instructor (never taught
        %em this course
        before)
      %dd
        %ul
          %li Course Syllabus
          %li
            Course Guidelines
            = link_to ".pdf", 'course_guidelines.pdf'
            = link_to ".docx", 'course_guidelines.docx'
          %li
            Course Renewal Application
            = link_to ".pdf", 'renewal.pdf'
            = link_to ".docx", 'renewal.docx'
          %li
            Instructor Application
            = link_to ".pdf", 'instructor_app.pdf'
            = link_to ".docx", 'instructor_app.docx'
          %li
            Budget Request
            = link_to ".pdf", 'budget.pdf'
            = link_to ".docx", 'budget.docx'
            (if applicable)
          %li
            Budget Information
            = link_to ".pdf", 'budget_info.pdf'
            = link_to ".docx", 'budget_info.docx'

      %dt Old instructor
      %dd
        %ul
          %li Course Syllabus
          %li
            Course Guidelines
            = link_to ".pdf", 'course_guidelines.pdf'
            = link_to ".docx", 'course_guidelines.docx'
          %li
            Course Renewal Application
            = link_to ".pdf", 'renewal.pdf'
            = link_to ".docx", 'renewal.docx'
          %li
            Budget Request
            = link_to ".pdf", 'budget.pdf'
            = link_to ".docx", 'budget.docx'
            (if applicable)
          %li
            Budget Information
            = link_to ".pdf", 'budget_info.pdf'
            = link_to ".docx", 'budget_info.docx'
