.page-header
  %h1 Apply to Teach

.hero-unit
  %p
    We're always looking for great students to teach great ExCos!  If you're
    interested, the checklists outline what you need to turn in.

  %p
    Please drop your application in hard-copy at our office.  For non-students,
    the faculty recommendation is switched to another general recommendation.
    All the forms are available for pick-up outside our office at Wilder 302. We
    are more than happy to answer questions through email at
    #{link_to 'oberlinexco.org', "mailto:oberlinexco.org" }.

.row
  .span6
    %h3 New course
    %dl
      %dt New instructor
      %dd
        %ul
          %li Course Syllabus
          %li= link_to "New Course Application", 'new_course.pdf'
          %li= link_to "Instructor Application", 'instructor_app.pdf'
          %li= link_to "Faculty Recommendation", 'faculty_rec.pdf'
          %li= link_to "General Recommendation", 'general_rec.pdf'
          %li
            = link_to "Budget Request", 'budget.pdf'
            (if applicable)

      %dt Old instructor
      %dd
        %ul
          %li Course Syllabus
          %li= link_to "New Course Application", 'new_course.pdf'
          %li= link_to "Instructor Application", 'instructor_app.pdf'
          %li
            = link_to "Budget Request", 'budget.pdf'
            (if applicable)

  .span6
    %h3 Old course
    %dl
      %dt New instructor (never taught before)
      %dd
        %ul
          %li Course Syllabus
          %li= link_to "Course Renewal Application", 'renewal.pdf'
          %li= link_to "Instructor Application", 'instructor_app.pdf'
          %li= link_to "Faculty Recommendation", 'faculty_rec.pdf'
          %li= link_to "General Recommendation", 'general_rec.pdf'
          %li
            = link_to "Budget Request", 'budget.pdf'
            (if applicable)

      %dt
        New instructor (never taught
        %em this course
        before)
      %dd
        %ul
          %li Course Syllabus
          %li= link_to "Course Renewal Application", 'renewal.pdf'
          %li= link_to "Instructor Application", 'instructor_app.pdf'
          %li
            = link_to "Budget Request", 'budget.pdf'
            (if applicable)

      %dt Old instructor
      %dd
        %ul
          %li Course Syllabus
          %li= link_to "Course Renewal Application", 'renewal.pdf'
          %li
            = link_to "Budget Request", 'budget.pdf'
            (if applicable)
