= form_for(@exco) do |f|
  - if @exco.errors.any?
    #error_explanation
      %h2
        = pluralize(@exco.errors.count, "error")
        prohibited this exco from being saved:
      %ul
        - @exco.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :course_number
    %br/
    = f.number_field :course_number
  .field
    = f.label :name
    %br/
    = f.text_field :name
  .field
    = f.label :credits
    %br/
    = f.number_field :credits
  .field
    = f.label :instructed_by
    %br/
    = f.text_field :instructed_by
  -# we're not using users linked to excos as instructors (yet!) ~ihm 1 September 2012
    .field
      = f.fields_for :instructors do |builder|
        = render "instructor_fields", :f => builder
      = link_to_add_fields "Add Instructor", f, :instructors
  .field
    = f.label :description
    %br/
    = f.text_area :description
  .field
    = f.label :enrollment_limit
    %br/
    = f.number_field :enrollment_limit
  .field
    = f.label :year
    %br/
    = f.number_field :year
  .field
    = f.label :term
    %br/
    = f.select :term, Exco::TERMS.collect{|t| [t,t]}
  .actions
    = f.submit
