%h1#excos_title ExCos

- @excos.each do |exco|
  .exco_container
    .exco_header
      %a.exco_name= exco.name
      Course number:
      %a.exco_header_info= exco.course_number
      Enrollment limit:
      %a.exco_header_info= exco.enrollment_limit
      -if user_signed_in?
        %a= link_to 'Edit', edit_exco_path(exco)
        %a= link_to 'Destroy', exco, confirm: 'Are you sure?', method: :delete
    %p.exco_description= exco.description



