.page-header
  %h1 ExCos

- if can? :create, Exco
  %p
    = link_to 'New Exco', new_exco_path, class: 'btn'

- excos_by_offered = @excos.group_by {|e| e.offered}
- excos_by_offered.each do |offered, excos|
  %h3= offered
  %table.table.table-striped
    %tr
      %th Course number
      %th Name
      %th Credits
      %th Instructor
      %th Enrollment limit
      - if can? :update, Exco
        %th
      - if can? :delete, Exco
        %th
    - excos.each do |exco|
      %tr
        %td= exco.course_number
        %td= link_to exco.name, exco
        %td= exco.credits
        %td= (exco.instructors.map{|i| i.name} + (exco.instructed_by.blank? ? [] :  [exco.instructed_by])).join(", ")
        %td= exco.enrollment_limit
        - if can? :update, Exco
          %td= link_to 'Edit', edit_exco_path(exco)
        - if can? :delete, Exco
          %td= link_to 'Destroy', exco, confirm: 'Are you sure?', method: :delete
