<p>
  <b>Name:</b>
  <%= @exco.name %>
</p>

<p>
  <b>Course Number:</b>
  <%= @exco.course_number %>
</p>

<p>
  <b>Instructors:</b>
  <ul>
    <% @exco.instructors.each do |i| %>
      <li><%= i.name %></li>
    <% end %>
  </ul>
</p>

<p>
  <b>Description:</b>
  <%= @exco.description %>
</p>

<p>
  <b>Enrollment Limit:</b>
  <%= @exco.enrollment_limit %>
</p>

<p>
  <b>Year:</b>
  <%= @exco.year %>
</p>

<p>
  <b>Term:</b>
  <%= @exco.term %>
</p>


<%= link_to 'Edit', edit_exco_path(@exco) %> |
<%= link_to 'Back', excos_path %>
