.page-header
  %h1
    = "#{@exco.course_number} - #{@exco.name}"

%p
  Instructed by
  %b= "#{(@exco.instructors.map{|i| i.name} + (@exco.instructed_by.blank? ? [] :  [@exco.instructed_by])).join(", ")},"
  = "0-#{@exco.credits}"
  credits

%p
  %span.label
    = @exco.term
    = @exco.year

%p
  = @exco.description

%p
  Enrollment Limit:
  %b= @exco.enrollment_limit
