.page-header
  %h1 ExCo

%p
  %b Name:
  = @exco.name
%p
  %b Course Number:
  = @exco.course_number
%p
  %b Instructors:
  = (@exco.instructors.map{|i| i.name} + (@exco.instructed_by.blank? ? [] :  [@exco.instructed_by])).join(", ")
%p
  %b Description:
  = @exco.description
%p
  %b Enrollment Limit:
  = @exco.enrollment_limit
%p
  %b Year:
  = @exco.year
%p
  %b Term:
  = @exco.term
