!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
      %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
        %title= content_for?(:title) ? yield(:title) : "Oberlin ExCo"
        = csrf_meta_tags
        / Le HTML5 shim, for IE6-8 support of HTML elements
        /[if lt IE 9]
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
        = stylesheet_link_tag "application", :media => "all"
        /%link{:href => "/images/favicon.ico", :rel => "shortcut icon"}
        /%link{:href => "/images/apple-touch-icon.png", :rel => "apple-touch-icon"}
        /%link{:href => "/images/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes=> "72x72"}
        /%link{:href => "/images/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes=> "114x114"}
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
            = link_to "Oberlin ExCo", root_path, :class => 'brand'
          .container.nav-collapse
            %ul.nav
              -if user_signed_in?
                %li= link_to "Log out", destroy_user_session_path, :method => :delete
                %li= link_to "Edit registration", edit_user_registration_path
              -else
                %li= link_to "Log In", new_user_session_path
                %li= link_to "Register", new_user_registration_path
          / /.nav-collapse
    .messages
      = render "layouts/messages"
    / /messages
    .container
      .content
        .row
          .span9
            = yield
          .span3
            .well.sidebar-nav
              %h3 Navigation
              %ul.nav.nav-list
                %li= link_to "Current ExCos", "/current"
                %li= link_to "All ExCos", "/excos"
                %li= link_to "ExCo Committee", "/path3"
            / /.well
          / /span
        / /row
      / /content
      %footer
        %p © Who is the copywrite holder of this? 
    / /container
    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "application"
